@import '@fontsource/mulish/500.css';
@import '@fontsource/ubuntu-mono';

:root {
	--color-background: rgb(34, 32, 32);
	--color-text: rgb(154, 153, 152);
	--color-icon: rgba(154, 153, 152, 0.85);
	--color-separator: rgba(199, 209, 219, 0.1);
	--color-button: rgb(255, 255, 255);
	--color-button-background: rgb(104, 97, 97);

	--color-section-title: rgba(154, 153, 152, 0.7);
	--color-section-value: rgb(129, 128, 126);
	--color-nav-link: rgb(154, 153, 152);
	--color-nav-link--current: rgba(60, 57, 57, 0.5);

	--color-delta--positive: rgb(104, 161, 98);
	--color-delta--negative: rgb(161, 70, 78);

	--color-key--included__color: rgb(0, 0, 0);
	--color-key--included__confident-background: rgb(14, 218, 97);
	--color-key--included__unconfident-background: rgb(204, 0, 0);
	--color-key--included__background: rgba(0, 0, 0, 0);
	--color-key--included__outline: rgba(0, 0, 0, 0);
	--color-key--boosted__color: rgb(0, 0, 0);
	--color-key--booster__unconfident-background: rgb(147, 65, 29);
	--color-key--boosted__outline: rgb(255, 255, 255);
	--color-key--uncalibrated__color: rgb(170, 170, 170);
	--color-key--uncalibrated__background: rgb(47, 43, 43);
	--color-key--uncalibrated__outline: rgba(0, 0, 0, 0);

	--font-body: 'Mulish', 'Arial', sans-serif;
	--font-monospace: 'Ubuntu Mono', monospace;
}

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	font-family: var(--font-body);
	font-size: 11px;
	line-height: 1.5;
}

body {
	font-family: var(--font-body);
	font-weight: normal;
	font-style: normal;
	min-height: 100vh;
	background-color: var(--color-background);
	color: var(--color-text);
	overflow-x: auto;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

@media (min-device-width: 1280px), (min-width: 1280px) {
	html,
	html[data-text='normal'] {
		font-size: 12px;
	}

	html[data-text='large'] {
		font-size: 13.2px;
	}

	html[data-text='huge'] {
		font-size: 14.4px;
	}
}

@media (min-device-width: 1366px), (min-width: 1366px) {
	html,
	html[data-text='normal'] {
		font-size: 12.8px;
	}

	html[data-text='large'] {
		font-size: 14.1px;
	}

	html[data-text='huge'] {
		font-size: 15.4px;
	}
}

@media (min-device-width: 1440px), (min-width: 1440px) {
	html,
	html[data-text='normal'] {
		font-size: 13.5px;
	}

	html[data-text='large'] {
		font-size: 14.8px;
	}

	html[data-text='huge'] {
		font-size: 16.2px;
	}
}

@media (min-device-width: 1536px), (min-width: 1536px) {
	html,
	html[data-text='normal'] {
		font-size: 14.4px;
	}

	html[data-text='large'] {
		font-size: 15.8px;
	}

	html[data-text='huge'] {
		font-size: 17.3px;
	}
}

@media (min-device-width: 1600px), (min-width: 1600px) {
	html,
	html[data-text='normal'] {
		font-size: 15px;
	}

	html[data-text='large'] {
		font-size: 16.5px;
	}

	html[data-text='huge'] {
		font-size: 18px;
	}
}

@media (min-device-width: 1920px), (min-width: 1920px) {
	html,
	html[data-text='normal'] {
		font-size: 18px;
	}

	html[data-text='large'] {
		font-size: 19.8px;
	}

	html[data-text='huge'] {
		font-size: 21.6px;
	}
}

svg {
	fill: var(--color-icon);
	display: inline-block;
	height: 1.8rem;
	width: 1.8rem;
	vertical-align: middle;
	line-height: 3rem;
	max-width: 100%;
}

button {
	background: none;
	border: none;
	color: var(--color-text);
	font-family: var(--font-body);
	cursor: pointer;
	display: inline-block;
	font-size: 0.85rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	min-height: 2rem;
	min-width: 2rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}
